@import '../../assets/styles/variables';
:where(.css-dev-only-do-not-override-19lec04).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-19lec04).ant-input-outlined:focus-within{
  border-color: green !important;
  
    box-shadow: 0 0 0 2px green !important;
}
.ant-input-outlined:hover {
  border-color: #ff4052;
  background-color: #ffffff;
}
.ant-input-outlined{
  
  &:hover {
    border-color: red !important; 
  }

  &:focus {
    border-color: rgb(5, 253, 51) !important;
  }
}
.usersPage {
  padding: 2rem;

  h1 {
    margin-bottom: 1.5rem;
  }
}

.controls {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.customSearch {
  width: 300px;
  margin-right: 16px;

  .ant-input {
    border-color: initial;

    &:hover {
      border-color: $primary-color !important; 
    }

    &:focus,
    &.ant-input-focused {
      border-color: $primary-color !important;
      box-shadow: 0 0 0 2px rgba($primary-color, 0.2) !important;
    }
  }
}

@media (max-width: 768px) {
    .customSearch {
        width: 150px;
        margin-right: 16px;
    }      
    
  }
