@import '../../assets/styles/variables';

.sidebar {
  width: 250px;
  background-color: #F3F4F5;
  padding: 1rem;
  color: $primary-color;
  font-family: $font-family;
  border-radius: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.usersSection {
  .sectionTitle {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: $text-color;
  }
}

.userList {
  display: flex;
  flex-direction: column;
}

.userListItem {
  display: flex;
  align-items: center;
}

.username {
  color: $text-color;
  font-weight: 600;
}

//// Responsive Styles
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 0;
    padding: 0.5rem;
  }

  .usersSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .sectionTitle {
      display: none;
    }
  }

  .userList {
    flex-direction: row;
  }

  .userListItem {
    flex-direction: column;
    align-items: center;
  }

  .username {
    font-size: 0.8rem;
  }
}
