@import "../../assets/styles/variables";


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-layout;
  margin: 30px 30px;
  padding: 0.2rem 2rem;
  border-radius: 30px;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    h2 {
      color: $bg-color;
      font-size: 1.2rem;
      font-family: $font-family;
    }
    .icon {
      color: $bg-color;
    }
  }

  .navLinks {
    ul {
      list-style: none;
      display: flex;
      gap: 2rem;
      margin: 0;
      padding: 0;

      li a {
        text-decoration: none;
        color: $bg-color;
        font-size: 1.1rem;
        transition: color 0.3s ease;

        &:hover {
          color: $hover-color;
        }
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .icon {
      font-size: 1.5rem;
      color: $bg-color;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: $hover-color;
      }
    }

    .avatar {
      cursor: pointer;
    }
  }
}

.menuButton {
  display: none;
}




////responsive
@media (max-width: 768px) {
  .navbar{
    margin: 30px 30px;
  }
  .navLinks {
    display: none;
  }
  .icons {
    .icon {
      font-size: 20px !important;
    }
    .avatar {
      width: 32px;
      height: 32px;
      font-size: 16px;
    }
  }
  .menuButton {
    display: inline-block;
    color: $bg-color;
  }
}

.drawer {
  .drawerNavLinks {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1rem;

      a {
        text-decoration: none;
        color: $text-color;
        font-size: 1.2rem;

        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}
