@import '../../assets/styles/variables';

.primaryButton {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  font-family: $font-family;
  margin: 5px;

  &:hover {
    background-color: lighten($primary-color, 10%) !important;
    border-color: lighten($primary-color, 10%) !important;
  }
}
