//colors

$primary-color: #65C8D0;
$hover-color:darken($primary-color, 10%);
$button-hover-color:darken($primary-color, 20%);
$bg-color: #F9FAFA;
$bg-layout: #2E6072;
$text-color: #211428;
$secondary-color:#FCDB64 ;


//fonts
$font-family: 'Nunito', sans-serif;
