@import '../../assets/styles/variables';

.footer {
  text-align: center;
  background-color: $bg-layout;
  width: 100%;
  padding: 1.5rem;
  color: $bg-color;
  font-family: $font-family;
  border-top: 1px solid lighten($bg-layout, 10%);
}

.footerText {
  color: $bg-color;
  font-size: 1rem;
}

.icon {
  font-size: 18px;
  color: $bg-color;
  transition: color 0.3s ease;

  &:hover {
    color: $hover-color;
  }
}


////responsive
@media (max-width: 768px) {
  .footerText {
    font-size: 0.8rem;
  }
  .icon {
    font-size: 16px;
  }
}
