@import '../src/assets/styles/variables';
@import '../src/layout/navbar/Navbar.module';
@import '../src/layout/footer/Footer.module';

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background-color: $bg-color;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.main-content {
  display: flex;
  flex: 1;
  width: 100%;
  //max-width: 1200px; 
  margin: 0 auto;     
}

.content {
  flex: 1;
  padding: 1rem 1rem;
  background-color: $bg-color;
}

////responsive
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  
  .content {
    padding: 1rem;
  }
}
